USE [master]
GO
/****** Object:  Database [AireSpringTest]    Script Date: 22/10/2022 14:20:35 ******/
CREATE DATABASE [AireSpringTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AireSpringTest', FILENAME = N'C:\Users\pedro\AireSpringTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AireSpringTest_log', FILENAME = N'C:\Users\pedro\AireSpringTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AireSpringTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AireSpringTest]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 22/10/2022 14:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EmployeeLastName] [varchar](75) NOT NULL,
	[EmployeeFirstName] [varchar](75) NOT NULL,
	[EmployeePhone] [varchar](75) NOT NULL,
	[EmployeeZip] [varchar](10) NOT NULL,
	[HireDate] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
